
html , body {
    background: url('bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Nerko One', cursive;
    height: 7000px;
}
.main {
   
    width:50%;
    border-radius: 30px 30px;
    background-color: rgb(255, 230, 208);


}
#iff{
    width:485px;
    height: 402px;
}
#space {
width: 300px;
}
h1 {
    color:blue;
    text-decoration: underline;
}
table {
    text-align: center;
    font-size: 19px;
}
span{
    color: red;
}
@media only screen and (max-width:720px) {
    .main{
        width:100%;
    }
    #iff{
        width:100%;
        height:400px;
    }
#space {
width:80%;
}
}